# Exploration des données de déplacements domicile-travail (CO₂)

## Objectif
Explorer les données issues de data.gouv.fr sur les émissions de CO₂ liées
aux déplacements domicile–travail afin d’identifier des indicateurs utiles
pour l’aide à la décision RH et business.

## Jeux de données
- depl_dom_trav_co2_2021.csv
- depl_dom_trav_co2_2022.csv

In [1]:
import pandas as pd

path_2021 = "../data/raw/depl_dom_trav_co2_2021.csv"
path_2022 = "../data/raw/depl_dom_trav_co2_2022.csv"

df_2021_sample = pd.read_csv(
    path_2021,
    sep=";",
    nrows=100000   # échantillon
)

C:\Users\Lucile\AppData\Local\Temp\ipykernel_3248\695403185.py:6: DtypeWarning: Columns (1,32,33,34,35,36,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021_sample = pd.read_csv(

In [3]:
df_2022_sample = pd.read_csv(
    path_2022,
    sep=";",
    nrows=100000   # échantillon
)

C:\Users\Lucile\AppData\Local\Temp\ipykernel_3248\1539765669.py:1: DtypeWarning: Columns (1,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022_sample = pd.read_csv(

In [2]:
df_2021_sample.head()

,LIEU_RESID,LIEU_TRAV,IPONDI,MODTRANS,AGEREVQ,CS1,DIPL,EMPL,ILT,ILTUU,...,GRILLE_DENSITE_TRAV,EPCI_EPT_TRAV,ZE2020_TRAV,AAV20_TRAV,DIST,DUREE,CHAMP_CO2,DIST_HEBDO,CARBU_HEBDO,CO2_HEBDO
0,97101,97206,"1,24999207743329",5,35,6,17,16,5,5,...,6,249720053,206,9B1,NaN,NaN,False,NaN,NaN,NaN
1,97101,97209,"1,24999207743329",5,20,6,16,12,5,5,...,1,249720061,202,9B1,NaN,NaN,False,NaN,NaN,NaN
2,97101,97209,"1,24999207743329",5,30,4,17,15,5,5,...,1,249720061,202,9B1,NaN,NaN,False,NaN,NaN,NaN
3,97101,97209,"3,50506684308266",5,35,5,18,16,5,5,...,1,249720061,202,9B1,NaN,NaN,False,NaN,NaN,NaN
4,97101,97209,"6,94513431662405",5,55,6,13,16,5,5,...,1,249720061,202,9B1,NaN,NaN,False,NaN,NaN,NaN

In [4]:
df_2022_sample.head()

,LIEU_RESID,LIEU_TRAV,IPONDI,MODTRANS,AGEREVQ,CS1,DIPL,EMPL,ILT,ILTUU,...,ZE2020_TRAV,AAV20_TRAV,DIST,DUREE,CHAMP_CO2,DIST_HEBDO,CARBU_HEBDO,CO2_HEBDO,DENS7_2025_RESID,DENS7_2025_TRAV
0,97101,97206,"1,27873588485658",5,35,6,17,16,5,5,...,206,9B1,NaN,NaN,False,NaN,NaN,NaN,2,6.0
1,97101,97209,"1,27873588485658",5,20,6,16,12,5,5,...,202,9B1,NaN,NaN,False,NaN,NaN,NaN,2,1.0
2,97101,97209,"1,27873588485658",5,30,4,17,15,5,5,...,202,9B1,NaN,NaN,False,NaN,NaN,NaN,2,1.0
3,97101,97209,"2,80058794249936",5,45,5,15,16,5,5,...,202,9B1,NaN,NaN,False,NaN,NaN,NaN,2,1.0
4,97101,97209,"6,27869494039684",5,55,6,13,16,5,5,...,202,9B1,NaN,NaN,False,NaN,NaN,NaN,2,1.0

In [8]:
df_2021_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 46 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   LIEU_RESID            100000 non-null  int64
 1   LIEU_TRAV             100000 non-null  object
 2   IPONDI                100000 non-null  object
 3   MODTRANS              100000 non-null  int64
 4   AGEREVQ               100000 non-null  int64
 5   CS1                   100000 non-null  int64
 6   DIPL                  100000 non-null  int64
 7   EMPL                  100000 non-null  int64
 8   ILT                   100000 non-null  int64
 9   ILTUU                 100000 non-null  int64
 10  IMMI                  100000 non-null  int64
 11  INATC                 100000 non-null  int64
 12  INEEM                 100000 non-null  object
 13  INPOM                 100000 non-null  object
 14  MOCO                  100000 non-null  int64
 15  NA5                   100000 non-null  object
 16  NPERR                 100000 non-null  object
 17  SEXE                  100000 non-null  int64
 18  STAT                  100000 non-null  int64
 19  STOCD                 100000 non-null  object
 20  TP                    100000 non-null  int64
 21  TYPL                  100000 non-null  object
 22  TYPMR                 100000 non-null  object
 23  VOIT                  100000 non-null  object
 24  DEP_RESID             100000 non-null  int64
 25  REG_RESID             100000 non-null  int64
 26  CATEAAV20_RESID       100000 non-null  int64
 27  TAAV2017_RESID        100000 non-null  int64
 28  GRILLE_DENSITE_RESID  100000 non-null  int64
 29  EPCI_EPT_RESID        100000 non-null  int64
 30  ZE2020_RESID          100000 non-null  int64
 31  AAV20_RESID           100000 non-null  object
 32  DEP_TRAV              100000 non-null  object
 33  REG_TRAV              100000 non-null  object
 34  CATEAAV20_TRAV        100000 non-null  object
 35  TAAV2017_TRAV         100000 non-null  object
 36  GRILLE_DENSITE_TRAV   100000 non-null  object
 37  EPCI_EPT_TRAV         100000 non-null  object
 38  ZE2020_TRAV           100000 non-null  object
 39  AAV20_TRAV            100000 non-null  object
 40  DIST                  98732 non-null   object
 41  DUREE                 98732 non-null   object
 42  CHAMP_CO2             100000 non-null  bool
 43  DIST_HEBDO            0 non-null       float64
 44  CARBU_HEBDO           0 non-null       float64
 45  CO2_HEBDO             0 non-null       float64
dtypes: bool(1), float64(3), int64(21), object(21)
memory usage: 34.4+ MB

## Premières questions
- Quelles sont les colonnes disponibles ?
- Quel est le niveau géographique exact ?
- Y a-t-il des valeurs manquantes ?
- Les structures 2021 et 2022 sont-elles identiques ?

In [9]:
df_2022_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 46 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LIEU_RESID        100000 non-null  int64
 1   LIEU_TRAV         100000 non-null  object
 2   IPONDI            100000 non-null  object
 3   MODTRANS          100000 non-null  int64
 4   AGEREVQ           100000 non-null  int64
 5   CS1               100000 non-null  int64
 6   DIPL              100000 non-null  int64
 7   EMPL              100000 non-null  int64
 8   ILT               100000 non-null  int64
 9   ILTUU             100000 non-null  int64
 10  IMMI              100000 non-null  int64
 11  INATC             100000 non-null  int64
 12  INEEM             100000 non-null  object
 13  INPOM             100000 non-null  object
 14  MOCO              100000 non-null  int64
 15  NA5               100000 non-null  object
 16  NPERR             100000 non-null  object
 17  SEXE              100000 non-null  int64
 18  STAT              100000 non-null  int64
 19  STOCD             100000 non-null  object
 20  TP                100000 non-null  int64
 21  TYPL              100000 non-null  object
 22  TYPMR             100000 non-null  object
 23  VOIT              100000 non-null  object
 24  DEP_RESID         100000 non-null  int64
 25  REG_RESID         100000 non-null  int64
 26  CATEAAV20_RESID   100000 non-null  int64
 27  TAAV2017_RESID    100000 non-null  int64
 28  EPCI_EPT_RESID    100000 non-null  int64
 29  ZE2020_RESID      100000 non-null  int64
 30  AAV20_RESID       100000 non-null  object
 31  DEP_TRAV          100000 non-null  object
 32  REG_TRAV          100000 non-null  object
 33  CATEAAV20_TRAV    100000 non-null  object
 34  TAAV2017_TRAV     100000 non-null  object
 35  EPCI_EPT_TRAV     100000 non-null  object
 36  ZE2020_TRAV       100000 non-null  object
 37  AAV20_TRAV        100000 non-null  object
 38  DIST              98486 non-null   object
 39  DUREE             98486 non-null   object
 40  CHAMP_CO2         100000 non-null  bool
 41  DIST_HEBDO        95272 non-null   object
 42  CARBU_HEBDO       82528 non-null   object
 43  CO2_HEBDO         95272 non-null   object
 44  DENS7_2025_RESID  100000 non-null  int64
 45  DENS7_2025_TRAV   99934 non-null   float64
dtypes: bool(1), float64(1), int64(21), object(23)
memory usage: 34.4+ MB

In [6]:
df_2021_sample.columns.tolist()

['LIEU_RESID',
 'LIEU_TRAV',
 'IPONDI',
 'MODTRANS',
 'AGEREVQ',
 'CS1',
 'DIPL',
 'EMPL',
 'ILT',
 'ILTUU',
 'IMMI',
 'INATC',
 'INEEM',
 'INPOM',
 'MOCO',
 'NA5',
 'NPERR',
 'SEXE',
 'STAT',
 'STOCD',
 'TP',
 'TYPL',
 'TYPMR',
 'VOIT',
 'DEP_RESID',
 'REG_RESID',
 'CATEAAV20_RESID',
 'TAAV2017_RESID',
 'GRILLE_DENSITE_RESID',
 'EPCI_EPT_RESID',
 'ZE2020_RESID',
 'AAV20_RESID',
 'DEP_TRAV',
 'REG_TRAV',
 'CATEAAV20_TRAV',
 'TAAV2017_TRAV',
 'GRILLE_DENSITE_TRAV',
 'EPCI_EPT_TRAV',
 'ZE2020_TRAV',
 'AAV20_TRAV',
 'DIST',
 'DUREE',
 'CHAMP_CO2',
 'DIST_HEBDO',
 'CARBU_HEBDO',
 'CO2_HEBDO']

In [10]:
df_2022_sample.columns.tolist()

['LIEU_RESID',
 'LIEU_TRAV',
 'IPONDI',
 'MODTRANS',
 'AGEREVQ',
 'CS1',
 'DIPL',
 'EMPL',
 'ILT',
 'ILTUU',
 'IMMI',
 'INATC',
 'INEEM',
 'INPOM',
 'MOCO',
 'NA5',
 'NPERR',
 'SEXE',
 'STAT',
 'STOCD',
 'TP',
 'TYPL',
 'TYPMR',
 'VOIT',
 'DEP_RESID',
 'REG_RESID',
 'CATEAAV20_RESID',
 'TAAV2017_RESID',
 'EPCI_EPT_RESID',
 'ZE2020_RESID',
 'AAV20_RESID',
 'DEP_TRAV',
 'REG_TRAV',
 'CATEAAV20_TRAV',
 'TAAV2017_TRAV',
 'EPCI_EPT_TRAV',
 'ZE2020_TRAV',
 'AAV20_TRAV',
 'DIST',
 'DUREE',
 'CHAMP_CO2',
 'DIST_HEBDO',
 'CARBU_HEBDO',
 'CO2_HEBDO',
 'DENS7_2025_RESID',
 'DENS7_2025_TRAV']

In [12]:
cols_to_use = [
    "LIEU_RESID",
    "DEP_RESID",
    "REG_RESID",
    "MODTRANS",
    "DIST",
    "DIST_HEBDO",
    "CO2_HEBDO",
    "IPONDI",
    "CHAMP_CO2"
]


df_2021 = pd.read_csv(
    path_2021,
    sep=";",
    usecols=cols_to_use
)

df_2022 = pd.read_csv(
    path_2022,
    sep=";",
    usecols=cols_to_use
)

C:\Users\Lucile\AppData\Local\Temp\ipykernel_3248\3578456039.py:14: DtypeWarning: Columns (0,24,40,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv(
C:\Users\Lucile\AppData\Local\Temp\ipykernel_3248\3578456039.py:20: DtypeWarning: Columns (0,24,38,41,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv(

In [14]:
df_2021.shape, df_2022.shape

((6846709, 9), (6979225, 9))

In [15]:
df_2021 = df_2021[df_2021["CHAMP_CO2"] == 1]
df_2022 = df_2022[df_2022["CHAMP_CO2"] == 1]

In [16]:
df_2021.head()

,LIEU_RESID,IPONDI,MODTRANS,DEP_RESID,REG_RESID,DIST,CHAMP_CO2,DIST_HEBDO,CO2_HEBDO
173411,75101,"3,32555099444568",2,75,11,"0,68360541370906",True,"4,45666178053795",0
173412,75101,"3,32132722818212",2,75,11,"0,68360541370906",True,"5,37620633983502",0
173413,75101,"1,28411574851666",2,75,11,"0,68360541370906",True,"2,82856244730849",0
173414,75101,"3,34924316850472",2,75,11,"0,68360541370906",True,"1,93475711032193",0
173415,75101,"1,21745100299",2,75,11,"0,68360541370906",True,"2,03544785223801",0

In [17]:
df_2021["year"] = 2021
df_2022["year"] = 2022

In [18]:
df = pd.concat([df_2021, df_2022], ignore_index=True)

In [20]:
df.head()

,LIEU_RESID,IPONDI,MODTRANS,DEP_RESID,REG_RESID,DIST,CHAMP_CO2,DIST_HEBDO,CO2_HEBDO,year
0,75101,"3,32555099444568",2,75,11,"0,68360541370906",True,"4,45666178053795",0,2021
1,75101,"3,32132722818212",2,75,11,"0,68360541370906",True,"5,37620633983502",0,2021
2,75101,"1,28411574851666",2,75,11,"0,68360541370906",True,"2,82856244730849",0,2021
3,75101,"3,34924316850472",2,75,11,"0,68360541370906",True,"1,93475711032193",0,2021
4,75101,"1,21745100299",2,75,11,"0,68360541370906",True,"2,03544785223801",0,2021

In [19]:
df.shape

(12754550, 10)

In [ ]:
df_dep.head()

In [1]:
df["co2_pondere"] = df["CO2_HEBDO"] * df["IPONDI"]

NameError: name 'df' is not defined